CONFIG_TARGET_sdx65=y
CONFIG_TARGET_sdx65_sdx65_32=y
CONFIG_TARGET_sdx65_sdx65_32_SDX65_Open=y
CONFIG_TARGET_BOARD="sdx65"
CONFIG_TARGET_ROOTFS_UBIFS=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_DEVEL=y
CONFIG_ATH_USER_REGD=y
CONFIG_COLLECT_KERNEL_DEBUG=y
# CONFIG_LIBC_USE_UCLIBC is not set
CONFIG_PKG_FORTIFY_SOURCE_NONE=y
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set
CONFIG_PACKAGE_adbd=y
CONFIG_PACKAGE_common=y
CONFIG_PACKAGE_core-include=y
CONFIG_PACKAGE_diag=y
CONFIG_PACKAGE_diag-router=y
CONFIG_PACKAGE_ext4_utils=y
CONFIG_PACKAGE_fs_mgr=y
CONFIG_PACKAGE_initmss=y
CONFIG_PACKAGE_libbase=y
CONFIG_PACKAGE_libcutils=y
CONFIG_PACKAGE_liblog=y
CONFIG_PACKAGE_libmincrypt=y
CONFIG_PACKAGE_mkbootimg=y
CONFIG_PACKAGE_libsparse=y
CONFIG_PACKAGE_logwrapper=y
CONFIG_PACKAGE_qmi-framework=y
CONFIG_PACKAGE_rmt_storage=y
CONFIG_PACKAGE_tftp-server=y
CONFIG_PACKAGE_usb-composition=y